body {
    background-color: #F5EDDC;
}

.chip-list {
    width: 100%;
}

.cool-button {
    display: inline-block;
    border: none;
    background-color: #6dc643; /* Your desired background color */
    color: black; /* Text color */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer;
    outline: none; /* Remove default outline */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .cool-button:hover {
    background-color: #357EBD; /* Change color on hover */
  }
  
  .cool-button:active {
    background-color: #2A6A9A; /* Change color on click */
  }