/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    background-color: #f4f3f2;
    font-family: 'Noto Sans', sans-serif;
    margin: 20px;
}

[_nghost-ng-c2984615029] {
    background-color: lightsteelblue; /* Set your desired background color here */
}

.ng2-tag-input__text-input[_ngcontent-ng-c1148831952] {
    background-color: transparent;
}

.name-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)); /* Adjust the column width as needed */
    gap: 15px; /* Adjust the gap between grid items */
    list-style: none; /* Remove default list styles */
  }
 
.name-grid li {
    background-color: #e6d7ff; /* Background color of grid items */
    padding: 1px; /* Padding around grid items */
    aspect-ratio: 1; /* Ensure perfect square aspect ratio */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px; /* Adjust the border radius for rounded corners */
    position: relative;
  }
  
  /* Optional: Adjust font size for smaller grid items */
  .name-grid li {
    font-size: 16px; /* Adjust font size as needed */
  }
 
  .sticky-icon {
    position:absolute;
    top: 5px; /* Adjust top position */
    right: 5px; /* Adjust right position */
    color: black; /* Icon color */
    /*padding: 10px;*/
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth transition for tilt effect */
  }

  .sticky-icon:hover {
    transform: rotate(10deg);
  }
  
  .color-filter {
    font-size:30px;
    position:absolute;
    top: 5px; /* Adjust top position */
    right: 5px; /* Adjust right position */
    color: gray; /* Icon color */
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth transition for tilt effect */
  }




html, body { height: 100%; }
body { margin: 20; font-family: Roboto, "Helvetica Neue", sans-serif; }
