<div class="header">
    <i (click)="toggleEmailForm()" class="email-icon fa fa-envelope" aria-hidden="true"></i>
    <span class="formform">
    <div [ngClass]="{'show': showEmailForm}" class="email-form">
      <form (ngSubmit)="onSubmit()" [formGroup]="emailForm">
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="email please!"
          class="email-input"
          required
        />
      
        <button type="submit"  class="subscribe-button" [disabled]="emailForm.invalid">  <i  class="fa-solid fa-arrow-right"></i></button>
      </form>
    </div>
   </span>
  </div>
  